<%= form_with(model: comment, local: true) do |form| %>


  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :comment_text %>
  </div>

 
  <%= form.hidden_field :task_id, id: :comment_task_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
